.journal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  max-width: 360px;
  margin: 0 10px;
}

@media (max-width: 400px) {
  .journal-item {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    max-width: 100%; 
    overflow-x: auto;
  }
}

.journal-item__header {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  margin: 10px 0px;
  color: #fff;
}

.journal-item__body {
  display: flex;
  gap: 10px;
}

.journal-item__date {
  width: 77px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.4);
}

.journal-item__text {
  width: 235px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 400px) {
  .journal-item__text {
    flex: 1; /* Растягиваем текстовый блок на всю доступную ширину */
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(255, 255, 255, 0.6);
  }
}